.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9fbfc;
    padding: 48px;
    border-radius: 16px;
    border: 2px solid #dfdfdf;
    width: 85vw;
    max-width: 800px;
    font-size: 18px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 28px;
    color: red;
    cursor: pointer;
}

.popup-box {
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
    padding: 24px;
    border-radius: 10px;
    margin: 36px auto 0;
    max-width: 650px;
    text-align: center;
    font-size: 17px;
}